/* generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white {
    color: #ffffff;
}
/* font */
body {
    font-family: 'Montserrat', sans-serif;
}

/* page */
#page{
    height: calc(100vh - 100px);
    background-color: #141922;
    color: #616161;
}

#page::after{
    content: "";
    display: table;
    clear: both;
}





/* header */
header{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100px;
    background-color: rgba(23, 3, 44, 0.5);
}
header div{
    position: relative;
}

header a{
    position: absolute;
    top: 20px;
    right: 250px;

    text-decoration: none;
    color: #ffffff;
    margin-top: 30px;
    margin-right: 25px;
    padding:15px 20px;
    border: #ffffff 1px solid;
    border-radius: 50px;
    background-color: #080b12;
}





/* aside */
aside{
    float: left;
    width: 250px;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    height: 100px;
    width: 250px;
    padding: 10px 20px;
}
#logo-small{
    display: none;
}

#top-nav a {
    padding-left: 20px;
    color: #616161;
    text-decoration: none;
    /* debug */
    /* border: red 2px solid; */
    /* background-color: blue; */    
}

.img-tool{
    width: 30px;
    vertical-align: middle;
}

#playlist {
    margin-left: 20px;
    height:max-content;
    overflow-y: auto;
    margin-top: 15px;
}

#playlist ul,li{
    list-style-type: none;
    margin: 15px 0;
}

#playlist a{
    text-decoration: none;
    color: #a3a3a3;
}

#playlist i{
    font-size: 40px;
    vertical-align: middle;
    margin-right: 10px;
    
}

#user{
    width: 80%;
    background-color: #000000;
}

#user img{
    width: 25px;
    margin: 10px 10px;
    vertical-align: middle;
}

#user-img{
    background-color: #808080;
    border-radius: 50%;
    padding: 0 2px;
}






/* main */
main{
    float: left;
    width: calc(100% - 250px);
    height: 100%
}

#main-body{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: auto;
    
    
    /* debug */
    /* background-color: red; 
    margin: 10px;
    border: 2px solid white;*/
}

#space{
    padding-top: 100px;
}

#main-body ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#main-body a{
    text-decoration: none;
    color: #5c5f64;
    margin: 0 10px;
}

.song-collumn h4 {
    color: #ffff;
}

.song-row {
    display: flex;
    
    /* debugs */
    /* height: 150px; 
    width: 100%;
    background-color: aqua;
    border: darkorange 2px solid;*/
}

.song-collumn{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-items: center;
    text-align: center;
    width: calc(100% / 6);
    /* debug */
   /*  width: 100px;
    height: 140px;
    background-color: deeppink; 
    border: 1px solid green;*/
}

.song-img img{
    width: 150px;
    height: 150px;
    /* debug */
    /* background-color: indigo; */
}

.title-zone{
    padding-left: 10px;
    margin-bottom: 10px;
}
/* sezione footer */
footer{
    height: 100px;
    background-color: #282828;
    display: flex;
    color: #767676;
    justify-content: space-between;
    align-items: center;
}

#f-left {
    display: flex;
    align-items: center;
}

#f-left div{
    margin: 0 5px;
}

#f-left div i{
    margin: 0 5px;
}

#f-left  img{
    width: 50px;
}

#f-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ffff;
    /* debug */
    /* background-color: red;
    height: 50px;
    width: 400px; */
}

#tool-row i{
    font-size: 20px;
    margin: 0 10px 10px;
}
#f-center .fa-play-circle{
    font-size: 40px;
}

#time-row{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.time-bar{
    background-color: #5a5a5a;
    width: 500px;
    height: 5px;
    margin: 0 20px;
    border-radius: 50px;
}

.time-bar-done {
    background-color: #c1c1c1;
    height: 5px;
    border-radius: 50px;
    width: 25%;
}

#f-right {
    display: flex;
    align-items: center;
    /* debug */
    /* background-color: blue;
    height: 50px;
    width: 200px; */
}

#f-right i {
    margin: 0 5px;
    color: #ffff;
}


#f-right .time-bar{
    width: 150px;
    min-width: 50px;
}


/* media 878px */
@media all and (max-width:1260px) and (min-width:870px){
    
    .time-bar{
        width: 100px;
        margin: 0 5px;
    } 
    #f-right .time-bar {
        width: 50px;
    }  
    #tool-row i {
        font-size: 15px;
        margin: 0 5px;
    }
    #f-center .fa-play-circle{
        font-size: 25px;
    }
    #f-left img{
        width: 25px;
    }
    #f-right i{
        font-size: 10px;
    }
    main{
        width: calc(100% - 250px);
    }
    .song-collumn {
        width: 140px;
        margin: 5px;;
    }
    .song-row {
        flex-wrap: wrap;
    }
    .song-img img{
        width: 140px;
        height: 140px;
    }
    #main-body ul a{
        font-size: 10px;
    }
}





/* media 639px */
@media all and (min-width:553px) and (max-width:870px) {
    
    .time-bar{
        width: 100px;
        margin: 0 5px;
    } 
    #f-right .time-bar {
        width: 50px;
    }  
    #tool-row i {
        font-size: 15px;
        margin: 0 5px;
    }
    #f-center .fa-play-circle{
        font-size: 25px;
    }
    #f-left img{
        width: 25px;
    }
    #f-right i{
        font-size: 10px;
    }
    header div{
        margin-left:10%;
    }
    main{
        width: calc(100% - 250px);
    }
    .song-collumn {
        width: 140px;
        margin: 5px;;
    }
    .song-row {
        flex-wrap: wrap;
    }
    .song-img img{
        width: 140px;
        height: 140px;
    }
    #main-body ul a{
        font-size: 10px;
    }
}



/* media 552px */
@media all and (max-width:552px) {
    aside {
        width:50px ; 
    }
    #playlist, aside span, #logo, hr{
        display: none;
    }
    #logo-small {
        margin: 10px 0;
        display: block;
        width: 40px;
        padding-left: 10px;
    }
    #top-nav a{
        padding-left: 10px;
        margin-top: 5px;
    }
    
    .time-bar{
        width: 100px;
        margin: 0 5px;
    } 
    #f-right .time-bar {
        width: 50px;
    }  
    #tool-row i {
        font-size: 15px;
        margin: 0 5px;
    }
    #f-center .fa-play-circle{
        font-size: 25px;
    }
    #f-left img{
        width: 25px;
    }
    #f-right i{
        font-size: 10px;
    }

    header{
        width: calc(100% + 200px);
    }
    main{
        width: calc(100% - 50px);
    }
    .song-collumn {
        width: 200px;
    }
    .song-row {
        flex-wrap: wrap;
    }
    .song-img img{
        width: 200px;
        height: 200px;
    }
}